/*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}

/* =Global
----------------------------------------------- */


@font-face {
    font-family: 'courier_primeregular';
    src: url('courier_prime-webfont.eot');
    src: url('courier_prime-webfont.eot?#iefix') format('embedded-opentype'),
         url('courier_prime-webfont.woff') format('woff'),
         url('courier_prime-webfont.ttf') format('truetype'),
         url('courier_prime-webfont.svg#courier_primeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #000;
	color: #00CC00;
	font-size: 20px;
	font-family: 'courier_primeregular', serif;
}

#wrapper {
	padding-top: 20px;
	width: 80%;
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
p {
	margin-top: 20px;
}
header {
	overflow-x: auto;
}

header:before, header:after{
	white-space: pre;
}
header:before {
	content: '----------------------------------------------------------------------------------------------------\A';
}
header:after {
	content: '----------------------------------------------------------------------------------------------------';
}
#branding {
	float: left;
}
.site-name {
	text-transform: uppercase;
}
ul.navigation {
	float: right;
}
ul.navigation li {
	display: inline;
}
ul.navigation a {
	text-transform: uppercase;
	text-decoration: none;
}
ul.navigation a.active {
	text-decoration: underline;
}
a, a:link, a:hover, a:active, a:visited {
	color: #00CC00;
}
#prompt {
	margin-top: 20px;
	width: 100%;
}
.text_input {
	background: none;
	border: 0;
	color: #00CC00;
	font-size: 20px;
	font-family: 'courier_primeregular', serif;
	outline: none;
	padding-left: 0;
	margin-left: 0;
	width: 95%;
}
#response {
	margin-top: 20px;
}
.pair {
	margin-top: 20px;
}
input[type=submit] {
	display: none;
}
.profile {
	height: 100px;
	margin-top: 20px;
}
.profile-pic {
	float: left;
	margin-right: 20px;
}
.profile-pic img {
	width: 100px;
	height: 100px;
}

.profile-name {
	text-transform: uppercase;
}

