{% extends "base.html" %}
{% block content %}
	<p>Give me a page URL and I will shorten it for you.  Don't forget to include the protocol (http:// or https://).  I will also give you a link to an article related to your page.  Don't ask me to do anything else.</p>
	<div class="response"></div>
	<div id="prompt">
		<form name="e_form" onsubmit="return false;">
			<label for="text_input">> </label><input type="text" id="text_input" name="text_input" class="text_input" autofocus><input type="submit" value="" onclick="processInput()">
		</form>
	</div>
{% endblock %}