<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Shortbot, mortal human</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div id="wrapper">
		<header>
			<div id="branding">
				<span class="site-name">shortbot</span>: <span class="site-description">shorten with an attitude</span>
			</div>
			<div id="menu">
				<ul class="navigation">
					<li class="nav-item"><a href="{{ url_for('about') }}">about</a></li>
				</ul>
			</div>
		</header>
		<p>I don't like humans.  But I like to shorten URLs.  So, give me a page URL, and I will give you a shortened version of it.  I will also give you titles of books or articles related to your page.  Don't ask me to do anything else.</p>
		<div class="response"></div>
		<div id="prompt">
			<form name="e_form" onsubmit="return false;">
				> <input type="text" id="text_input" name="text_input" class="text_input" autofocus><input type="submit" value="" onclick="processInput()">
			</form>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/elizabot.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/elizadata.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>